.container {
    border: 1px solid grey;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    font-family: Verdana;
    padding: 40px;
    border-radius: 35px;
    background-color: grey;
}
.css
{
border-radius: 10px;
font-family: Verdana;
border-bottom: 4px solid;

}

body {
      display: flex; 
}

